<h1>Profiles#show</h1>
h1><%= @user.username %>'s Profile</h1>

<% @user.tweets.each do |tweet| %>
  <%= tweet.message %> <br />
<% end %>

<% if current_user.friends.include?(@user) %>
    <%= link_to "Unfollow", relationship_path(current_user.relationships.find_by_friend_id(@user)), method: :delete %>
  <% else %>
    <%= link_to "Follow", relationships_path(:friend_id => @user), method: :post %>
  <% end %>
